*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:myFontFamily ;
    src: url(https://fonts.google.com/specimen/Outfit);
}
body{
    /* width:100vw; block element doesn't need width  */
    /* below property prevents cutting off content if it grows beneath the viewport */
    padding:16px;
    min-height:100vh; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    /* //don't need to set this text align everywhere,children will inherit */
    text-align:center;
    font-size:0.7rem;
}
h2{
    padding:16px;
    font-family: 'Outfit',sans-serif;
    font-weight: 700;
}
p{
    padding:16px;
    font-family: 'Outfit',sans-serif;
    font-weight: 200;
}
.container{
   padding:16px;
   display:flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   border-radius: 1rem;
   /* below seeting  prevents card from becoming too wide */
   max-width:20rem;
   
   background-color: hsl(0, 0%, 100%);
}

img{
    border-radius: 0.6rem;
    display:block;
    max-width:100%;
    height:auto;

    
}
















