*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:myFontFamily ;
    src: url(https://fonts.google.com/specimen/Outfit);
}
body{
    /* width:100vw; block element doesn't need width  */
    
    padding:16px;
    /* below property prevents cutting off content if it grows beneath the viewport */
    min-height:100vh; 
    /* below property prevents cutting off content if it grows sideways from the viewport */
    min-width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    /* //don't need to set this text align everywhere,children will inherit */
    text-align:center;
    font-size:0.7rem;
}
h2{
    padding:1.2rem;
    /* padding:16px; */
    font-family: 'Outfit',sans-serif;
    font-weight: 700;
    font-family: 1.3rem;
    line-height: 1.5rem;
    color:hsl(218,44%,22%)
}
p{
    padding:1.2rem;
    /* padding:16px; */
    font-family: 'Outfit',sans-serif;
    color:hsl(216,15%,48%);
    font-weight: 200;
    line-height: 1.5rem;
    font-size:0.9rem;
}
.container{
   padding:16px;
   display:flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   border-radius: 1rem;
   /* below seeting  prevents card from becoming too wide */
   max-width:20rem;
   /* height:auto; */
   
   background-color: hsl(0, 0%, 100%);
}

img{
    border-radius: 0.6rem;
    display:block;
    max-width:100%;
    height:auto;

    
}
















